<!-- <div>
    <Ul>
        <li  > <a routerLink="/sidebar" >Login</a> </li>
        <li>SignUp</li>
    </Ul>
</div> -->

<div class="row">

  <div class="col-md-4">
    <div class="card text-white bg-primary mb-3" style="width: 25rem;height: 25rem;">
      <!-- <div class="card-header">Profile Registration</div> -->
      <div class="card-body">
       
        <a routerLink="/Empregister" > Profile Registration</a>
  
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card text-white bg-secondary mb-3" style="width: 25rem;height: 25rem;">
   
      <div class="card-body">
        <a routerLink="/EmpApproval" > Profile Activation</a>
   
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card text-white bg-danger mb-3" style="width: 25rem;height: 25rem;">
      <div class="card-body">
        <a routerLink="/" >   Payroll Management</a>
      </div>
      </div>
  </div>

</div>


<div class="row">
  <div class="col-md-4">
    <div class="card text-white bg-success mb-3" style="width: 25rem;height: 25rem;">
      <div class="card-body">
        <a routerLink="/" >  Leave Management</a>
      </div>
  </div>
  </div>

  <div class="col-md-4">
    <div class="card text-white bg-info mb-3" style="width: 25rem;height: 25rem;">
      <div class="card-body">
        <a routerLink="/" >  Attandence Management</a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card text-white bg-warning mb-3" style="width: 25rem;height: 25rem;">
      <div class="card-body">
        <a routerLink="/" >  Salary And  Deduction </a>
      </div>
      </div>
  </div>
</div>
