
<div class="card">
  
    <div class="card-body">
        <form [formGroup]="loginform" (ngSubmit)="login()">
        <div class="container">
            <label for="username">Username</label>
            <input type="text" placeholder="Email or Phone" id="txtusername" formControlName="username">

        </div>
        <div class="container">

            
           
        <label for="password">Password</label>
        <input type="password" placeholder="Password" id="txtpassword" formControlName="password">

        </div>  
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
    </div>
  </div>