<!-- <div class="sidebar"> -->
    <!-- <div class="shortcut-links">
<a routerLink="/Empregister">  <p>Home</p></a>
<a href=""> <p>Explore</p></a>
<a href="">  <p>Subscription</p></a>
<a href="">  <p>Library</p></a>
<a href="">  <p>History</p></a>
<a href="">  <p>Playlist</p></a>
<a href="">  <p>Messages</p></a>
<a href="">  <p>Show More</p></a>
<hr>

    </div>
 -->


    <!-- <div class="subscribed-list">

        <h3>SUBSCRIBED</h3>
        <a href="">  <p>Jack Nicholes</p></a>
        <a href="">  <p>Simon Baker</p></a>
        <a href="">  <p>JTom Hardly</p></a>
        <a href="">  <p>Megan Ryan</p></a>
        <a href="">  <p>caamron Diaz</p></a>
    </div> -->
<!-- </div> -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page"  routerLink="/Empregister">User Registration</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>